h1 {
  color: rgb(76, 65, 65);
}

hr {
  border: 1px solid rgb(8, 7, 8);
  color: rgb(108, 79, 135);
}

h4 {
  color: rgb(56, 53, 59);
}

h5 {
  color: rgb(56, 53, 59);
}

body {
  background-color: rgba(23, 148, 198, 0.445);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
